
:root {
    --primary-color: #003366;
    --secondary-color: #002244;
    --accent-color: #004488;
}
body{
    background-color: var(--primary-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
  

.comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;
}
  
.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
}
  
.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: bold;
}
  
.comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
}
  
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

body {
    margin-top: 50px; 
}

.container {
    display: flex;
}

.textfirst {
    width: 70%;
    left: 0;
    z-index: 1; 
    margin-top: 75px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h1 {
    font-family:"Comic Neue";
    font-size: 200px;
}
h2{
    font-family:"Comic Neue";
    font-size: 50px;
}

li {
    font-family:"Comic Neue";
    font-size: 35px;
}

p {
    font-family:"Comic Neue";
    font-size: 35px;
}


.image {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 70px;
}

.image2 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35%;
}

.image3 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 100%;
}
.firstheader {
    margin-bottom: 30px;
}
